<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.SEND_SMS" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo2_foreground"
        android:label="Shivratna Mess"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".User"
            android:exported="false" />
        <activity
            android:name=".MyAdapter"
            android:exported="false" />
        <activity
            android:name=".Student_Home_Screen"
            android:exported="false" />
        <activity
            android:name=".Menu_lv"
            android:exported="false" /> <!-- android:roundIcon="@mipmap/ic_launcher_round" -->
        <activity
            android:name=".DemoDrawerActivity"
            android:exported="false"
            android:label="@string/title_activity_demo_drawer"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".Set_Menu"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".tp"
            android:exported="false" />
        <activity
            android:name=".Month_Selection"
            android:exported="false" />
        <activity
            android:name=".Sign_In"
            android:exported="false" />
        <activity
            android:name=".TaskActivity"
            android:exported="true" />
        <activity
            android:name=".CustHome"
            android:exported="false" />
        <activity
            android:name=".MenuUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".MyMenuAdapter"
            android:exported="false" />
        <activity
            android:name=".First"
            android:exported="false" />
        <activity
            android:name=".signup"
            android:exported="false" />
        <activity
            android:name=".Custhome"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".View_Note"
            android:exported="false" />
        <activity
            android:name=".Unpaid_Amount"
            android:exported="false" />
        <activity
            android:name=".Bills_Unpaid"
            android:exported="false" />
        <activity
            android:name=".Bills_Paid"
            android:exported="false" />
        <activity
            android:name=".Create_Note"
            android:exported="false" />
        <activity
            android:name=".Customer_Data"
            android:exported="false" />
        <!-- Initial First Activity After Launch -->
        <activity
            android:name=".main_screen1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Expense_Book"
            android:exported="true" />
        <activity
            android:name=".View_Complaint"
            android:exported="true" />
        <activity
            android:name=".Utils"
            android:exported="true" />
        <activity
            android:name=".Complaint"
            android:exported="true" />
        <activity
            android:name=".Raise_complaint"
            android:exported="true" />
        <activity
            android:name=".Give_suggestion"
            android:exported="true" />
        <activity
            android:name=".View_Suggestion"
            android:exported="true" />
        <activity
            android:name=".Bills"
            android:exported="true" />
        <activity
            android:name=".View_List"
            android:exported="true" />
        <activity
            android:name=".Add_Student"
            android:exported="true" />
        <activity
            android:name=".Manager_Home_Screen"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>